@media screen and (max-width: 700px){
    header .container{
        display: flex;
        flex-direction: column;
    }
    
    header .container nav{
        margin: 10px 0;
    }
    
    .btn{
        margin: 7px 0px;
        width: 190px;
    }
    
    .main_footer .container .footer1{
        flex-basis: 100%;
        margin-bottom: 20px;
    }
    
    .main_footer .container .footer2{
        flex-basis: 100%;
        margin-bottom: 20px;
    }
    .main_footer .container .footer3{
        flex-basis: 100%;
    }
}

@media screen and (min-width: 1000px){
    .description{
        width: 70%;
    }
}